* {
  box-sizing: border-box;
}

.teer {
  display: inline-block;
  left: 0rem;
  position: relative;
  top: 0rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 1.625rem;
  z-index: 999;
}

body {
  overflow-x: auto; /* Horizontal scrolling for the entire page */
}
.header {
  position: fixed;
  height: 200px;
}

.modal {
  display: none;
}

/* Define styles for light mode */
.dark-mode {
  background-color: black;
  color: white;
}

/* .modal {
  overflow: hidden;
}

.modal::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 15, 218, 0.5);
  z-index: 9999;
} */
